/* Counters */
.counters {
	strong {
		display: block;
		font-weight: 600;
		font-size: 60px;
		line-height: 60px;
	}
	label {
		font-family: "Alegreya SC",sans-serif;
		display: block;
		font-weight: 100;
		font-size: 20px;
		line-height: 20px;
	}
}