.home-top {
	background-image: url(../img/home-bg.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	margin-bottom: 60px;
	margin-top: 30px;
	position: relative;
	&.clean {
		background: none;
	}
}

/* Responsive */
@media (max-width: 991px) {
	.home-top {
		margin-top: 0;
	}
}

/* Main Carousel */
.main-carousel {
	margin-top: -60px;
	overflow: hidden;
	padding-bottom: 120px;
	padding-top: 120px;
	position: relative;
	visibility: hidden;
	width: 100%;
	.owl-controls {
		text-align: right;
		position: absolute;
		bottom: -165px;
		right: 15px;
	}
	.owl-pagination {
		visibility: hidden;
	}
	.owl-buttons {
		display: none;
	}
	.owl-carousel {
		.owl-wrapper-outer {
			overflow: visible;
		}
		.owl-item > div {
			position: relative;
			padding: 10px;
		}
	}
	.carousel-overlay {
		position: absolute;
		top: -15%;
		width: 100%;
		left: 0;
		right: 0;
		bottom: -100px;
		height: 115%;
		display: none;
		background: transparent;
		z-index: 10;
	}
	.img-thumbnail {
		padding: 13px;
		min-width: 250px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		.thumb-info-image img {
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
		}
	}
	a {
		&.thumb-info {
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			.thumb-info-image:before {
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
			}
		}
		&.carousel-nav {
			width: 70px;
			position: absolute;
			top: 50%;
			left: 10px;
			bottom: 0;
			background: #F7F9FC;
			height: 70px;
			z-index: 11;
			display: block;
			filter: alpha(opacity = 100);
			opacity: 100;
			padding: 0;
			border-top: 0;
			text-align: center;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			font-size: 22px;
			color: #787F89;
			line-height: 68px;
			-moz-transform: scale(0.8);
			-webkit-transform: scale(0.8);
			transform: scale(0.8);
			-moz-transition: all 0.2s;
			-o-transition: all 0.2s;
			-webkit-transition: all 0.2s;
			transition: all 0.2s;
			&:hover {
				-moz-transform: scale(1);
				-webkit-transform: scale(1);
				transform: scale(1);
			}
			&.next {
				left: auto;
				right: 10px;
			}
		}
	}
	.carousel-nav-overlay {
		&.prev {
			width: 90px;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background: transparent;
			height: 100%;
			z-index: 10;
		}
		&.next {
			width: 90px;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background: transparent;
			height: 100%;
			z-index: 10;
			left: auto;
			right: 0;
		}
	}
	.carousel-clone {
		position: absolute;
		top: 120px;
		width: 100%;
		left: 0;
		-moz-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		-webkit-filter: blur(3px);
		.owl-carousel {
			filter: alpha(opacity = 0) !important;
			opacity: 0 !important;
			-moz-transition: opacity 1s;
			-o-transition: opacity 1s;
			-webkit-transition: opacity 1s;
			transition: opacity 1s;
			&.owl-carousel-init {
				filter: alpha(opacity = 22) !important;
				opacity: 0.22 !important;
			}
		}
		.img-thumbnail {
			background: #EDEDED;
		}
	}
	.carousel-clone-overlay {
		position: absolute;
		top: -18%;
		width: 100%;
		left: 0;
		right: 0;
		bottom: -100px;
		height: 120%;
		background: transparent;
	}
}

.main-carousel-tooltip {
	background: #222831;
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 10px;
	color: #C7CDD3;
	width: 200px;
	text-align: center;
	min-height: 35px;
	z-index: 10;
	font-size: 0.9em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	&:after {
		display: block;
		content: " ";
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #222831;
		position: absolute;
		bottom: -8px;
		left: 50%;
		margin-left: -10px;
	}
}
	
/* Home Player */
.home-player {
	background: #EDEFF2;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	text-align: center;
	padding-top: 5px;
	position: relative;
	top: 45px;
	a.home-player-icon {
		font-size: 80px;
		display: block;
		-webkit-transform: translate3d(0, 0, 0);
		i.fa {
			-webkit-text-stroke: 0.5px;
		}
	}
}